

    <h1>usuarios cadastrados </h1>
    

    <div class="container">
        {{#each users}}

            <div class="item">
                <h2>{{this.name}}</h2>
                <p>{{this.occupation}}</p>
                <div class="actions">
                    <a href="/users/{{this.id}}">ver</a>
                    <a href="/users/edit/{{this.id}}">editar</a>
                    <form action="/users/delet/{{this.id}}" method="post">
                    <input type="submit" value="excluir" class="delete-btn">
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
    

