
    <ul>
    <li><a href="/">voltar</a></li>
</ul>
   
    <fieldset class="form">
        <form action="/user/edit" method="POST" class="form">
        <input type="hidden" name="id" value="{{users.id}}">
         <h1>editando:{{users.name}}</h1>
        <div class="form-control">
            <label for="name">nome</label>
            <input type="text" name="name" value="{{users.name}}"  placeholder="nome do usuario">
        <div/>
        <div class="form-control">
            <label for="occupation">ocupação</label>
            <input type="text" name="occupation" value="{{users.occupation}}" placeholder="digite a profissão" >
        </div>
        <div class="form-control form-checkbox">
        {{#if user.newsletter}}
            <input type="checkbox" name="newsletter"  checked>
        {{else}}
        <input type="checkbox" name="newsletter"  >
        {{/if}}
        <label for="newsletter">enviar promoções?</label>
        
        
        <input type="submit" value="editar">
        
        </form>
        </div>
        <div class="container-address">
            <h2>endereço</h2>
            <form action="/address/create" method="post">
                <input type="hidden" name="UserId" value="{{users.id}}">
                <div class="form-control">
                    <label for="street">rua</label>
                    <input type="text" name="street" placeholder="digite o nome da rua">
                     <label for="city">cidade</label>
                    <input type="text" name="city" placeholder="cidade">
                     <label for="number">numero</label>
                    <input type="text" name="number" placeholder="digite o numero">
                    <input type="submit" value="enviar">
            </form>
    </fieldset>
</div>